@html.extend('/layout/application', function(model){
  
  @html.block('content', function(model){
      <div ng-controller="ClienteController">
        <div class="infraError" ng-show="infraError">☹ Algo errado aconteceu. Tente novamente.</div>
        
        <p> Oi {{name}}! Estamos começando seu cadastro! </p>
        <form ng-submit="submitForm()">
          
          Nome: <input type="text" ng-model="name" size="30" placeholder="Entre com seu nome"/>
          <p class="errorFor">{{ errorFor('name') }}</p><br/>

          Email: <input type="text" ng-model="email" size="30" placeholder="Entre com seu email"/>
          <p class="errorFor">{{ errorFor('email') }}</p><br/>

          <input class="btn-primary" type="submit" value="Enviar"/>
          <div style="font-size: 33px" ng-show="errors.length == 0">✌</div>
          
        </form>
         <hr/>
        <div class="listagem">
          <div class="cliente" ng-repeat="cliente in clientes">
            <p>Nome: {{cliente.name}} </p>
            <p>Email: {{cliente.email}} </p>
            <hr/>
          </div>
        </div>
        
      </div>
  })

  @html.append('scripts', function(model){ 
    <script src="/script/app.js"></script>
  })

})

