/server/lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

/mvc/server/pids
/mvc/server/logs
/mvc/server/results
/mvc/server/build
/mvc/server/node_modules

/mvc/client/node_modules
/mvc/client/public/script/
/mvc/client/bower_components/


/business/pids
/business/logs
/business/results
/business/build
/business/node_modules



/tmp
.vagrant/
.DS_Store