<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="app" ng-app class="app">
  <head>
    @html.block('stylesheet', function(model){
      <link type="text/css" rel="stylesheet" href="/stylesheet/index.css">
    })
    @html.block('title', function(model){
      <title>@(model.title || 'Poc Vizir - Client Server w/ VanilaJS')</title>
    })
  </head>
  <body @html.block('bodyTag') >

    @html.block('header')
    @html.block('content')
    @html.block('footer')
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>

    @html.block('scripts')
    
  </body>
</html>